<h2 class="h-header">Document Type List</h2>
<div>
  <button (click)="previousPage()" class="btn-pre">Previous</button>
</div>
<div class="add-user">
  <button (click)="addDocumentType()" class="btn-pre">Add Document Type</button>
</div>
<table id="users">
  <tr>
    <th>Type Name</th>
    <th>Description</th>
    <!-- <th class="th-width">Action</th> -->
  </tr>
  <tr *ngFor="let t of typeList">
    <td>{{t.typeName}}</td>
    <td>{{t.description}}</td>
    <!-- <td>
      <button (click)="addDocumentProperty(t)" class="td-btn">Add Document Property</button>
      <button (click)="showProperties(t)" class="td-btn">Property List</button>
    </td> -->
  </tr>
</table>